{% load cms_tags %}

<div class="col-lg-4 col-sm-6 mb-4">
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href="#Grid{{ instance.event.id|safe }}">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                    {% comment %} <i class="fas fa-plus fa-3x"></i> {% endcomment %}
                </div>
            </div>
            {% if instance.event.passed %}
            <img class="img-fluid" src="{{ instance.event.image_grayscale.url }}" alt="{{ instance.event.title|safe }} Image" />
            {% else %}
            <img class="img-fluid" src="{{ instance.event.image.url }}" alt="{{ instance.event.title|safe }} Image" />
            {% endif %}
        </a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading">{{ instance.event.title }}</div>
            <div class="portfolio-caption-subheading text-muted">{{ instance.event.date|date:"l j F" }}&nbsp;&nbsp;&nbsp;{{ instance.event.start|date:"H:i" }}</div>
        </div>
    </div>
</div>