{% extends "foundation5/_base.html" %}

{# Foundation 5 master base template #}

{% load static cms_tags menu_tags i18n %}

{% block site-title %}Mechanix{% endblock site-title %}

{% block stylesheets %}
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
        <link href="{% static 'styles.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block html-attributes %}{% endblock html-attributes %}

{% block navbar-wrapper %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'logo_large.png' %}" alt="Logo">
                </a>
            </div>
        </nav>
{% endblock navbar-wrapper %}
{% block main-content-wrapper %}
              {% block messages-wrapper %}
          {% include fobi_theme.messages_snippet_template_name %}
      {% endblock messages-wrapper %}
{% block main-content %}
<div class="row {#left#}">
    <div{% block main-content-inner-attrs %} class="large-12 columns"{% endblock main-content-inner-attrs %}>
    
      <!-- Content -->

      {% block content-wrapper %}
          {% block content %}
          <h3>Get in Touch!</h3>
          <hr>

          <h4 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec
          dignissim nibh fermentum odio ornare sagittis.</h4>

          <div class="show-for-small" style="text-align: center">
            <a class="small radius button" href="#">Call To Action!</a><br>
            <a class="small radius button" href="#">Call To Action!</a>
          </div>
          {% endblock content %}
      
      {% endblock content-wrapper %}
    </div>
    
</div>

{% endblock main-content %}
{% endblock main-content-wrapper %}

{% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
        <script src="{% static 'scripts.js' %}"></script>
{% endblock javascripts %}