{% load static %}

<div class="team-member">
    {% if instance.image %}
    <img class="mx-auto rounded-circle" src="{{ instance.image.url }}" alt="{{ instance.name|safe }} Image" />
    {% else %}
    <img class="mx-auto rounded-circle" src="{% static 'person-placeholder.jpg' %}" alt="{{ instance.name|safe }} Image" />
    {% endif %}
    <h4>{{ instance.name }}</h4>
    {% if instance.function %}
    <p class="text-muted">{{ instance.function }}</p>
    {% endif %}
    {% if instance.mail %}
    <a class="btn btn-dark btn-social mx-2 socialbutton" href="mailto:{{ instance.mail }}"><i class="far fa-envelope fa-lg"></i></a>
    {% endif %}
    {% if instance.linkedin %}
    <a class="btn btn-dark btn-social mx-2 socialbutton" href="{{ instance.linkedin }}"><i class="fab fa-linkedin-in fa-lg"></i></a>
    {% endif %}
</div>