{% load cms_tags static i18n thumbnail %}

{% for entry in grid_modals %}
<div class="portfolio-modal modal fade" id="Grid{{ entry.id|safe }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'close-icon.svg' %}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->                            
                            <img class="img-fluid d-block mx-auto" src="{{ entry.image.url }}" alt="{{ entry.title|safe }} Image" />
                            <h3 class="text-uppercase">{{ entry.title }}</h3>
                            <div class="h4">
                                {% if entry.date %}
                                <i class="fas fa-calendar-day"></i>
                                {{ entry.date|date:"d/m/y" }}&nbsp;
                                {% endif %}
                                {% if entry.doors %}
                                <i class="fas fa-door-open"></i>
                                {{ entry.doors|date:"H:i" }}&nbsp;
                                {% endif %}
                                {% if entry.start %}
                                <i class="fas fa-clock"></i>
                                {{ entry.start|date:"H:i" }}&nbsp;
                                {% endif %}
                            </div>
                            <p class="item-intro text-muted">{{ entry.subtitle }}</p>
                            <p>{{ entry.description }}</p>
{% comment %}                             <ul class="list-inline">
                                <li>
                                    <strong>Client:</strong>
                                    Threads
                                </li>
                                <li>
                                    <strong>Category:</strong>
                                    Illustration
                                </li>
                            </ul> {% endcomment %}                            
                            {% if entry.externalButtonText %}
                            <a class="btn btn-success btn-xl text-uppercase m-2 p-3" href="{{ entry.externalButtonUrl }}" role="button">
                                {{ entry.externalButtonText }}
                            </a>
                            {% endif %}
                            {% for form in entry.forms.all %}
                            <a class="btn btn-success btn-xl text-uppercase m-2 p-3" href="{% url 'fobi.view_form_entry' form.slug %}" role="button">
                                {{ form.name }}
                            </a>
                            {% endfor %}
                            <button class="btn btn-primary btn-xl text-uppercase m-2 p-3" data-bs-dismiss="modal" type="button">
                                {% trans 'Close' %}
                            </button>
                            {% if entry.imageFolder %}
                            <h4 class="mt-3">{% trans 'Photos' %}</h4>
                            <div class="container">
                                <div class="row">
                                    {% for img in entry.imageFolder.files %}
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <a href={{img.url}}>
                                            <img class="img-fluid" src="{% thumbnail img 300x300 crop %}">
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% for entry in team_modals %}
<div class="portfolio-modal modal fade" id="Team{{ entry.id|safe }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="{% static 'close-icon.svg' %}" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <h3 class="text-uppercase">{{ entry.name }}</h3>
                            {% if entry.function %}
                            <h4 class="text-muted">{{ entry.function }}</h4>
                            {% endif %}
                            {% if entry.verticalImage %}
                            <img class="d-block d-md-none float-start w-100" src="{{ entry.verticalImage.url }}" alt="{{ entry.name|safe }} Image" />
                            <img class="d-none d-md-block d-lg-none float-start w-50" src="{{ entry.verticalImage.url }}" alt="{{ entry.name|safe }} Image" />
                            <img class="d-none d-lg-block float-start w-25" src="{{ entry.verticalImage.url }}" alt="{{ entry.name|safe }} Image" />
                            {% endif %}
                            {% if entry.text %}
                            <p>{{ entry.text }}</p>
                            {% endif %}
                            <button class="btn btn-primary btn-xl text-uppercase m-2 p-3" data-bs-dismiss="modal" type="button">
                                {% trans 'Close' %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
