{% load i18n menu_tags %}

{% if languages|length > 1 %}
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    {% trans 'ChangeLang' %}
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	{% for language in languages %}
	<li><a class="dropdown-item" href="{% page_language_url language.0 %}" title="{{ language.1 }}">{{ language.1 }}</a></li>
	{% endfor %}
  </ul>
</div>
{% endif %}